default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5
  username: {{db_username}}
  password: {{db_password|default("")}}

development:
  <<: *default
  database: {{app_name}}_development

test:
  <<: *default
  database: {{app_name}}_test
