/*** Minne* Header ******************************************************************/

$red: #EE383A;
$green: #6AFB92;
$blue: #43C6DB;

.full-column {
  border-bottom: 1px solid #d1d9dc;
}

.center-column {
  width: 65em;
  margin: 0 auto;
  text-align: left;
  clear: both;
}

ul#menu {
  margin: 0 1px;
  padding: 0;
  font-size: 12px;
  li {
    font-size: 1.3em;
    float: left;
    margin-right: 0.05em;
    padding: 0;
    display: block;
    list-style: none;
    a {
      &:link, &:visited {
        display: block;
        padding: 7px 0 10px;
        line-height: 1em;
        width: 9.5em;
        color: #6a797d;
        text-decoration: none;
        border-top: 3px solid #fff;
        text-transform: lowercase;
      }
      &:hover {
        border-top: 3px solid #6a797d;
      }
    }

    &.hydra a:hover {
      border-top: 3px solid $red;
    }

    &.wiki a:hover {
      border-top: 3px solid $green;
    }

    &.projecthydra a:hover {
      border-top: 3px solid $blue;
    }

    a {
      span.description {
        font-size: 0.75em;
        color: #d1d9dc;
        text-transform: lowercase;
      }
      &.selected {
        border-top: 3px solid #6a797d;
      }
    }
  }

  li.wiki, li.projecthydra {
    float: right;
  }

  .last {
    margin-right: 0;
  }
}

span {
  &.hydra {
    color: $red;
    font-weight: 700;
    margin-left: 1px;
  }
}

