/*** Minne* Header ******************************************************************/
// brand colors
$minnebar-purple: #6066ae;
$minnestar-red: #f05555;
$minnestar-purple: #44478a;
$minnestar-blue: #0994ca;

.full-column {
  border-bottom: 1px solid #d1d9dc;
}

.center-column {
  width: 65em;
  margin: 0 auto;
  text-align: left;
  clear: both;
}

ul#menu {
  font-family: "Roboto", sans-serif;
  margin: 0 1px;
  padding: 0;
  font-size: 86%;
  li {
    font-size: 1.3em;
    float: left;
    margin-right: 0.05em;
    padding: 0;
    display: block;
    list-style: none;
    a {
      &:link, &:visited {
        display: block;
        padding: 7px 0 10px;
        line-height: 1em;
        width: 9.5em;
        color: $minnestar-blue;
        font-weight: 400;
        text-decoration: none;
        border-top: 3px solid #fff;
        text-transform: uppercase;
        letter-spacing: 1.6px;
      }
      &:hover {
        color: $minnestar-red;
      }
    }
    a {
      span.description {
        font-size: 0.75em;
        color: #d1d9dc;
        text-transform: lowercase;
      }
      &.selected {
        border-top: 3px solid #6a797d;
      }
    }
  }

  li.bar, li.demo, li.donate {
    float:right;
    a {
      padding: 30px 0 10px;
    }
  }

  li.donate {
    a.button {
      padding: 7px 10px 6px;
      margin: 24px 0 0;
      width: auto;
      border: 2px solid #f05555;
      &:hover {
        color: #ffffff;
      }
    }
  }

  .last {
    margin-right: 0;
  }
}


