$medium_blue: rgb(104, 106, 177);
$light_blue: #cdceeb;
$grey: rgb(209, 217, 220);

/* This is style for the button that says "Yes! I might attend" */
.yellow {
  background: rgb(255,214,94);
  background: image-url("hydra_tag.png");
  background: linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
}

.yellow:hover {
  background: rgb(254,191,4);
  background: image-url("hydra_tag.png");
  background: linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
}

.topic_level {
  margin:0;
  padding:.2em 1em;
  position:absolute;
  left:24px;
  bottom:-12px;
  background-color: $grey;
  background: #f8f8f8;
  border: 1px solid #e8e8e8;
  -moz-border-radius:4px;
  -webkit-border:4px;
  border-radius:4px;
  font-size:11px;
}

.session_presenters {
  margin:1.5em;
  padding:0;
}

.tags {
  margin:0;
  padding:0;
  position:absolute;
  right:24px;
  bottom:-12px;
  list-style:none;
  li, a {
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
  }
  a {
    margin-left:20px;
    padding:0 10px 0 12px;
    background: $light_blue;
    color:#333;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px; 
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;  
    border-top-right-radius:4px;
    &:before {
      content:"";
      float:left;
      position:absolute;
      top:0;
      left:-12px;
      width:0;
      height:0;
      border-color:transparent $light_blue transparent transparent;
      border-style:solid;
      border-width:12px 12px 12px 0;  
    }
    &:after {
      content:"";
      position:absolute;
      top:10px;
      left:0;
      float:left;
      width:4px;
      height:4px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      border-radius:2px;
      background:#fff;
      -moz-box-shadow:-1px -1px 2px #004977;
      -webkit-box-shadow:-1px -1px 2px #004977;
      box-shadow:-1px -1px 2px #004977;
    }
    &:hover {
      background: $medium_blue;
      color:#ccc;
    }
    &:hover:before {
      border-color:transparent $medium_blue transparent transparent;
    }
  }
}

.session_description {
  position: relative;
  padding: 10px 20px;
  background: #f8f8f8;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  margin-bottom: 20px;
  img {
    max-width: 100%;
  }
}


