$white: #fff;
$grey: rgb(209, 217, 220);
$minnebar-purple: #414D87;

@mixin columns($width, $gap) {
  column-width: $width;
  column-gap: $gap;
  -moz-column-width: $width;
  -moz-column-gap: $gap;
  -webkit-column-width: $width;
  -webkit-column-gap: $gap;
}

body {
  background-color: #fff;
  font-family: 'Helvetica Neue', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  color: #111111;
  line-height:1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue", "Helvetica Neue", "Verdana", sans-serif;
  margin: 0;
}

h1 {
  margin: 1.5em 0 0 0;
  font: 700 24px / 24px;
  color: #666;
  span.edit {
    font-size: 50%;
    color: gray;
  }
}

h3 span.edit {
  font-size: 75%;
  color: gray;
}

h2 {
  margin: 10px 0;
  font: 300 18px / 18px;
  color: #666;
}

a {
  img {
    border: none;
  }
  color: $minnebar-purple;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: none;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
  }
  ul {
    margin: 2px 24px;
    li {
      font-size: 12px;
      list-style: disc;
    }
  }
}

div.sidebar-box {
  background: none repeat scroll 0 0 #CDCEEB;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 0.2em;
}

ul.sessionsList {
  margin: 0;
  padding: 0;
  padding-right: 2.2em;
  list-style-type: none;
  @include columns(24em, 1em);
  li.attending {
    background: image-url("minnebar.png") no-repeat 0 .1em;
  }
  li {
    margin: 0.6em 0;
    padding-left: 2.2em;
    letter-spacing: -0.05em;
    display: inline-block;  // prevent column break
    width: 100%;
    a {
      &:link, &:visited {
        font: 700 1.2em / 1.2em;
        color: #555;
        text-decoration: none;
      }
      &:hover, &:active {
        text-decoration: underline;
      }
    }
    div.presenter {
      font-size: 0.95em;
      color: #AAA;
      a {
        &:link, &:visited {
          color: #999;
          text-decoration: none;
        }
        &:hover, &:active {
          text-decoration: underline;
        }
      }
    }
  }
}

.toggle-attendance {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;

  width: 1.8em;
  height: 1.8em;
  margin-bottom: -1.8em;
  float: left;
  position: relative;
  left: -2.4em;
  top: 0.1em;

  color: transparent;  // Text is for accessibility only

  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  &[data-session-attending="true"] {
    background-image: image-url("session-attending-true.svg");
  }
  &[data-session-attending="false"] {
    background-image: image-url("session-attending-false.svg");
  }
  &.loading {
    background-image: image-url("loading.svg") !important;
    pointer-events: none;
  }
}

.clearboth {
  clear: both;
}

.more_sessions {
  padding-left: 1.8em;
}

.button {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid rgba(0,0,0,0.4) ;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
        0 0 1px 1px rgba(255,255,255,0.8),
        0 0 0 1px rgba(0,0,0,0.06),
        0 0 0 1px rgba(0,0,0,0.1);
  cursor: pointer;
  .title {
    padding: 10px;
    float: left;
    color: #333;
    font-weight: 800;
    border-left: 1px solid rgba(0,0,0,0.2);
  }
  .meta {
    text-indent: -9999px;
    padding: 0.7em;
    margin: 0.2em;
    background: image-url("session-attending-true.svg") no-repeat;
    background-size: contain;
    width: 1.6em;
    float: left;
  }
}

h4 + p {
  margin-top:0em;
}

hr {
  color: $grey;
  background-color: $grey;
  height: 1px;
  border: 0;
  margin: 2em 0;
}

.left  { float:left; }
.right { float:right; }

footer{
  background-color: $white;
  padding: 50px 0 100px 0;
}

.row .column h3 {
  margin-top: 20px;
  font-size: 1.5em;
  color: #111;
}

h4 {
  font-size: 1.1em;
}

.smaller {
  font-size: 0.8em;
}
