<% title('MinneBar 2010 Session Registration') %>

<div class="row">
  <div class="column grid_6" style="margin-left:0px">
    <p>Welcome to the MinneBar 2010 session planning tool! Please have a
      look around, and add your own session. <strong>Important
        note:</strong> you should <em>register for MinneBar</em> before adding
      your session. Adding a session does not register you!</p>

    <h2>Sessions</h2>
    <ul>
      <%= render @sessions %>
    </ul>

  </div>
  <div class="column grid_4">
    <div class="sidebar-box">
      <h3>What kind of sessions are OK?</h3>

      <p>If you're interested in a topic, chances are others are
      too. Types of sessions could
      include <strong>presentations</strong> (on a programming
      language, cool project, marketing, music, or anything
      else), <strong>panel
      discussions</strong>, <strong>hackfests</strong>,
      or <strong>meetups</strong>.</p>

      <p><strong>What's not OK?</strong> MinneBar is not a forum for advertisements or snake oil sales.</p>

      <p>If you've got an idea for a session and you want to run it by us, email look@recursion.org.</p>

      <h3>Not Spectators, Only Participants</h3>

      <p>The first rule of MinneBar is <strong>No Spectators, Only
      Participants</strong>. We encourage everyone to participate in
      the event by presenting, hosting a discussion, or even just
      participating in discussions and Q&amp;A. Come ready to engage
      with your peers, share something you know, and learn something
      new!</p>

      <p><%= link_to 'Add a session', new_session_path %></p>
   </div>
 </div>
</div>

