<% if Settings.allow_new_sessions? %>
  <% if current_participant.email_confirmed? %>
    <% title('New Session') %>
    <p><strong>Note: sessions can be at most 45 minutes long.</strong></p>
    <%= render 'form' %>
  <% else %>
    <% title('Email Confirmation Required') %>
    <%= render 'email_confirmation' %>
  <% end %>
<% else %>
  <p>Sorry, session submission is now closed for <%= Event.current_event.name %>.</p>
<% end %>
