<% title(@session.title) %>

<p>By <%= @session.participant.name %></p>

<div>
  <%= @session.description %>
</div>

<h3>Categories</h3>

<ul>
  <%= render :partial => 'category', :collection => @session.categories %>
</ul>
