<% title('Admin: All sessions') %>

<h2><%= link_to 'Add a session', new_admin_session_path %></h2>

<div class="row">
  <div class="column grid_6" style="margin-left:0px">
   <ul class="sessionsList">
      <%= render :partial => 'session', :collection => @sessions %>
   </ul>
  </div>
</div>

