<h1>Reset Password</h1>

<p>Please enter your email address below and then press "Reset Password".</p>

<%= form_tag password_resets_path do %>
  <%= text_field_tag :email %>
  <%= submit_tag "Reset Password" %>
<% end %>
