<p>You're just one click away! Confirm your email by clicking the link below:</p>

<p><%= link_to "Confirm my email", confirm_email_participant_url(@participant, token: @participant.perishable_token) %></p>

<p>Once confirmed, you'll be redirected to the Sessionizer and ready to submit or vote for Minnebar sessions!</p>

<p>
  If you need further assistance, please contact us at <a href="mailto:support@minnestar.org">support@minnestar.org</a>.
<p>

<p>
  - The Minnestar Team
</p>