<div class="column grid_4">

  <div class="add-session-now">
    <%= add_sessions_button %>
  </div>

  <div class="sidebar-box">
    <h3>How long are sessions?</h3>
    <p>Sessions can be at most <strong>50 minutes</strong> long. If you need extra
    time, there will be empty small breakout rooms available.</p>

    <h3>What kind of sessions are OK?</h3>
    <p>If you're interested in a topic, chances are others are
    too. Types of sessions could
    include <strong>presentations</strong> (on a programming
    language, cool project, marketing, music, or anything
    else), <strong>panel
    discussions</strong>, <strong>hackfests</strong>,
    or <strong>meetups</strong>.</p>

    <p><strong>What's not OK?</strong> <%= t('conference') %> is not a forum for advertisements or snake oil sales.</p>

    <p>If you've got an idea for a session and you want to run it by us, email casey@minnestar.org or support@minnestar.org.</p>

    <h3>No Spectators, Only Participants</h3>
    <p>The first rule of <%= t('conference') %> is <strong>No Spectators, Only
    Participants</strong>. We encourage everyone to participate in
    the event by presenting, hosting a discussion, or even just
    participating in discussions and Q&amp;A. Come ready to engage
    with your peers, share something you know, and learn something
    new!</p>

    <h3>Sessions from Past Events</h3>
    <p>
      All demos and sessions from past minne&#x2731; events have
      been imported into our <a href="http://wiki.minnestar.org/">wiki</a>. Take a stroll down
      memory lane with <a href="http://wiki.minnestar.org/wiki/MinneBar_1">MinneBar 1</a>...
      and everything in between.
   </p>
  </div>
</div>

