<div class="column grid_4">

  <div class="add-session-now">
    <%= add_sessions_button %>
  </div>

  <div class="sidebar-box">
    <%= trusted_markdown MarkdownContent.find_by_slug('homepage-summary').markdown %>
  </div>
</div>
