<div class="column grid_4">

  <div class="add-session-now">
    <%= add_sessions_button %>
  </div>

  <div class="sidebar-box">
    <h3>How long are sessions?</h3>
    <p>Sessions can be at most <strong>50 minutes</strong> long. If you need extra
    time, there will be empty small breakout rooms available.</p>

    <h3>What kind of sessions are OK?</h3>
    <p>If you're interested in a topic, there a strong likelihood others are
    too. Types of sessions could
    include <strong>presentations</strong> (on technial topics, planning and management, professional development, work life balance, or anything
    else), <strong>panel
    discussions</strong>, <strong>hackfests</strong>,
    or <strong>meetups</strong>.</p>

    <p><strong>What's not OK?</strong> <%= t('conference') %> is not a forum for advertisements or snake oil sales.</p>

    <p>If you've got an idea for a session and you want to run it by us,
      email the HC2015 program committee at hydra-connect@googlegroups.com.</p>

    <h3>No Spectators, Only Participants</h3>
    <p>The first rule of <%= t('conference') %> is <strong>No Spectators, Only
    Participants</strong>. We encourage everyone to participate in
    the event by presenting, hosting a discussion, or even just
    participating in discussions and Q&amp;A. Come ready to engage
    with your peers, share something you know, and learn something
    new!</p>

    <h3>Sessions from Past Events</h3>
    <p>
      Many sessions from past Hydra Connect events have
      been posted online. Browse Unconference session for <a href="https://wiki.duraspace.org/display/hydra/HydraConnect+2014+Unconference+Sessions">Hydra Connect #1</a>
      and a full conference schedule for <a href="https://wiki.duraspace.org/display/hydra/Hydra+Connect+2+Program">Hydra Connect #2</a>
   </p>

    <h3>Other Useful Information</h3>
    <p>
      Get registered for Hydra Connect at <a href="https://hydra-connect-2015-mpls.eventbrite.com">hydra-connect-2015-mpls.eventbrite.com</a>.
      Find out more about Hydra Connect 2015 on our <a href="https://wiki.duraspace.org/display/hydra/Hydra+Connect+2015">main wiki page</a>
    </p>

  </div>
</div>

