<% title(t('conference') + ' Session Registration') %>

<div class="row">
  <div class="column grid_6" style="margin-left:0px">
    <p>Welcome to the <%= t('conference') %> session planning tool.</p>

    <% if @current_event %>
      <%= render 'sessions' %>
    <% else %>
      <h2>No event is being held right now</h2>
    <% end %>
  </div>

  <%= render partial: 'pages/aside' %>

</div>


