#schedule-body
  margin: 0
  padding: 0
  
  .schedule-header
    padding: 2em
    background: #f0f0f0
    h1
      margin: 0
      padding: 0
      font:
        family: 'Helvetica Neue', 'Verdana', sans-serif
        weight: bold
        size: 2em
    
    .hint
      margin: 1ex 0
      color: #777
      font:
        family: 'Helvetica Neue', 'Verdana', sans-serif
        size: 90%
    
    .controls
      float: right
      a
        display: block
        float: right
        margin-right: 1em
        padding: 1ex 1em
        border-radius: 2em
        border: 1px solid #444
        background: #EEE
        @each $browser in '', -webkit-, -moz-, -o-, -ms-
          background-image: #{$browser}linear-gradient(top, #fff 0%, #f8f8f8 1%, #eee 49%, #e0e0e0 50%, #c0c0c0 100%)
        color: #003
        white-space: nowrap
        text-decoration: none
        font:
          family: 'Lucida Grande', 'Verdana', sans-serif
          weight: bold
        &:active
          background: #333
          @each $browser in '', -webkit-, -moz-, -o-, -ms-
            background-image: #{$browser}linear-gradient(bottom, #222 0%, #333 50%, #222 100%)
          color: white
  
  .schedule
    .timeslot
      clear: both
      h2
        font:
          family: 'Helvetica Neue', 'Verdana', sans-serif
          weight: 'Bold'
          size: 1.8em !important
        color: white
        background: #999
        margin: 0.3em 0
        font-weight: bold
        text-align: center
        padding: 0.3em 1em
        outline: 1px solid #333
        border-top: 1px solid #676AB1
        &:first-child
          margin-top: 0
        @each $browser in '', -webkit-, -moz-, -o-, -ms-
          background-image: #{$browser}linear-gradient(top, #454689 0%, #676AB1 100%)
    
      .sessions
        clear: both
        padding: 0 1%
        .column
          float: left
          width: 48%
          margin: 0
          padding: 0.5em 1%
          .session
            padding: 1.4ex
            &:last-child
              border: none
            .header
              cursor: pointer
              &:hover
                .title
                  color: #454689
            .title
              color: #111
              font:
                family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', 'Verdana', sans-serif
                weight: Bold
                size: 1.4em !important
              padding: 0
              margin: 0
              font-size: 1.2em
            .room
              font:
                family: 'Gill Sans', 'Futura', 'Tahoma', sans-serif
                size: 0.8em
              text-transform: uppercase
              color: #acaa48
              float: right
              font-size: 0.9em
              padding-left: 1ex
              padding-top: 0.4em
            .presenters, .summary
              color: #555
            .presenters
              display: inline
              font:
                family: 'HelveticaNeue-Medium', 'Helvetica Neue', 'Verdana', sans-serif
                weight: Medium
              .presenter
                display: inline
                &:after
                  content: ','
                &:last-child:after
                  content: ''
            .summary
              font:
                family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Verdana', sans-serif
                weight: Light
              weight: 'Medium'
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
              margin: 0
            .description
              display: none
              font:
                family: 'Helvetica Neue', 'Verdana', sans-serif
              p, ul
                margin: 0.6em 0
              .bios
                margin: 1.4em 0
                padding: 0.4em 1.2em
                background: #F0F0F0
                border: 1px solid #ccc
                border-radius: 1em
                font-size: 92%
                .name
                  font-weight: bold
                  margin-top: 0.6em

  .clr
    clear: both
