#schedule-body
  margin: 1em 0
  padding: 0
  .schedule
    .timeslot
      clear: both
      h1
        font:
          family: 'Helvetica Neue', 'Verdana', sans-serif
          weight: 'Bold'
          size: 1.8em !important
        color: white
        background: #999
        margin: 0.3em 0
        font-weight: bold
        text-align: center
        padding: 0.3em 1em
        outline: 1px solid #333
        border-top: 1px solid #676AB1
        @each $browser in '', -webkit-, -moz-, -o-, -ms-
          background-image: #{$browser}linear-gradient(top, #454689 0%, #676AB1 100%)
    
      .sessions
        clear: both
        padding: 0 1%
        .column
          float: left
          width: 48%
          margin: 0
          padding: 0.5em 1%
          .session
            padding: 1.4ex
            &:last-child
              border: none
            h2
              color: #111
              font:
                family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', 'Verdana', sans-serif
                weight: Bold
                size: 1.4em !important
              padding: 0
              margin: 0
              font-size: 1.2em
            .room
              font:
                family: 'Gill Sans', 'Futura', 'Tahoma', sans-serif
                size: 0.8em
              text-transform: uppercase
              color: #87b090
              float: right
              font-size: 0.9em
              padding-left: 1ex
              padding-top: 0.4em
            .detail
              color: #555
              .presenters
                display: inline
                font:
                  family: 'HelveticaNeue-Medium', 'Helvetica Neue', 'Verdana', sans-serif
                  weight: Medium
                .presenter
                  display: inline
                  &:after
                    content: ','
                  &:last-child:after
                    content: ''
              .summary
                font:
                  family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Verdana', sans-serif
                  weight: Light
                weight: 'Medium'
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                margin: 0
            .description
              display: none
              font:
                family: 'Helvetica Neue', 'Verdana', sans-serif
              p, ul
                margin: 0.6em 0
