<p><%= link_to 'Create new markdown content', new_admin_legacy_markdown_content_path %></p>

<% @markdown_contents.map do |mc| %>
  <p>Slug <%= mc.slug %></p>
  <%= link_to 'View', [:admin, :legacy, mc] %>
  <%= link_to 'Edit', [:edit, :admin, :legacy, mc] %>
<% end %>
