<h1>Admin: Menu</h1>

<ul>
  <li><%= link_to 'Configuration', admin_config_path %></li>
  <li><%= link_to 'Events', admin_events_path %></li>
  <li><%= link_to 'Sessions', admin_sessions_path %></li>
</ul>
