      <div class="column grid_<%= grid %>">
        <h3>Sessions about <%= category.name %></h3>
        <ul class="sessionsList">
          <%= render category.sessions.for_current_event.random_order.limit(5) %>
        </ul>
        <p class="more_sessions"><%= link_to 'See more...', category_path(category) %></p>
      </div>

