<table>
  <tr>
    <th></th>
    <% @rooms.each do |room| %>
    <th><%= room.name %></th>
    <% end %>
  </tr>
  <% @timeslots.each do |timeslot| %>
  <tr>
    <td><%= timeslot.to_s %></td>
    <% @rooms.each do |room| %>

    <td>
      <% if @sessions[timeslot][room] %>
        <%= link_to @sessions[timeslot][room].title, @sessions[timeslot][room] %><br>
        <%= @sessions[timeslot][room].presenters.map {|p| link_to p.name, p }.to_sentence.html_safe %>
      <% else %>
        OPEN
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
