<hr>
<footer>
  <div class="row">
    <p><a href="https://minnestar.org">Minnestar</a> is dedicated to providing a welcoming, inclusive, and harassment-free experience for everyone. Please read our  <a href="https://minnestar.org/code-of-conduct">Code of Conduct</a>.</p>
  </div>
  <div class="row">
    <p><strong>Need Help?</strong> For questions, accessibility needs, or support, contact <a href="mailto:support@minnestar.org">support@minnestar.org</a>. We're here to ensure everyone has a great experience!</p>
  </div>
  <div class="row">
    <p><strong>Find a bug?</strong> Please submit an <a href="https://github.com/minnestar/sessionizer/issues">issue</a>. Want to contribute? Check out the <a href="https://github.com/minnestar/sessionizer">code</a>.</p>
  </div>
</footer>
