<footer>

  <div class="row">
    <div class="grid_3 left">
      <%#Terabyte Sponsors %>
    </div>
    <div class="grid_3 left">
      <%#Contact Info %>
    </div>
    <div class="grid_3 left">
      <%#Donate %>
    </div>
  </div>

</footer>
