.nav-top
  .timeslots
    - header_timeslots.each do |slot|
      %a.timeslot{:id => "timeslot_#{slot.id}_nav",
                  :href=> "#timeslot_#{slot.id}",
                  :startsAt => slot.starts_at.in_time_zone.to_i,
                  :endsAt   => slot.ends_at  .in_time_zone.to_i }
        = pill_label(slot)
  .links
    %a{ target: '_blank',
        href: "/files/MAP_COMBINED_11x17.svg" }
      Map

    %a{ target: '_blank',
        href: "https://minnestar.org/faqs/minnebar-faq/" }
      FAQ
