.nav-top
  .timeslots
    - event_timeslots.where(schedulable: true).each do |slot|
      %a.timeslot{:id => "timeslot_#{slot.id}_nav",
                  :href=> "#timeslot_#{slot.id}",
                  :startsAt => slot.starts_at.in_time_zone.to_i,
                  :endsAt   => slot.ends_at  .in_time_zone.to_i }
        = pill_label(slot)
  .maps
    =link_to t('signup'), home_page_path

    %a.twitter{ target: '_blank', href: "http://twitter.com/#samveraconnect" }
      :escaped
        #samveraconnect
