<div class="column grid_4" style="padding-left: 1em; box-sizing: border-box;">

  <p><%= add_sessions_button %></p>

  <div class="sidebar-box">
    <%= markdown MarkdownContent.find_by_slug('homepage-summary')&.markdown, trusted: true %>
  </div>
</div>
