<% title('All Events') %>
<div class="row">
  <div class="column grid_6" style="margin-left:0px">
    <ul>
      <% @events.each do |event| %>
      <li><%= link_to event.name, event %> (<%= event.date.to_s(:long) %>)</li>
      <% end %>
    </ul>
  </div>
</div>
