<tr>
  <td>
    <%= link_to presenter.name, edit_admin_presenter_path(presenter) %>
  </td>
  <td>
    <%= presenter.email %>
  </td>
  <td>
    <%= presenter.sessions.for_current_event.map { |session| link_to(session.title, session) }.join(", ").html_safe %>
 </td>
</tr>
