<footer>

  <div class="row">
    Find a bug? Please submit an <a href="https://github.com/minnestar/sessionizer/issues">issue</a>. Want to contribute? Check out the <a href="https://github.com/minnestar/sessionizer">code</a>.
  </div>

</footer>
