<footer>

  <div class="row">
    <p>Find a bug? Please submit an <a href="https://github.com/minnestar/sessionizer/issues">issue</a>. Want to contribute? Check out the <a href="https://github.com/minnestar/sessionizer">code</a>.</p>
  </div>
  <div class="row">
    <p><a href="https://minnestar.org">Minnestar</a> is dedicated to providing a harassment-free experience for everyone. Read our Code of Conduct <a href="https://minnestar.org/code-of-conduct">here</a>.</p>
  </div>

</footer>
