<h1>Admin: Menu</h1>

<ul>
  <li><%= link_to 'Configuration', admin_legacy_config_path %></li>
  <li><%= link_to 'Events', admin_legacy_events_path %></li>
  <li><%= link_to 'Sessions', admin_legacy_sessions_path %></li>
  <li><%= link_to 'Markdown', admin_legacy_markdown_contents_path %></li>
</ul>
