<li>
  <%= toggle_attendance_button(session) %>
  <h4><%= link_to session.title, session %></h4> 
  <div class="presenter">by <%= session.presenters.map {|p| link_to p.name, p }.to_sentence.html_safe %></div>
  <% edit(session) do %>
    (<%= link_to 'edit', edit_session_path(session) %>)
  <% end %>
</li>
