<% title("#{@event.name} – All Sessions") %>
<p>(most recently added first)</p>

<% cache [current_participant] + event_schedule_cache_key(@event) do  # fragment contains user-specific info %>
  <% unless @event.current? %>
    <p>
      <b>This is a past event.</b>
      <%= link_to "See sessions for the current #{t('conference')} >", sessions_path %>
    </p>
  <% end %>

  <div class="row">
    <p><%= add_sessions_button %></p>
    <div class="column grid_10" style="margin-left:0px">
      <ul class="sessionsList">
        <%= render @sessions %>
      </ul>
    </div>
  </div>
<% end %>
