@import "variables";

footer {
  background-color: $white;
  //   padding: 50px 0 100px 0;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid $grey;
  width: 100%;
  display: inline-flex;
  flex-direction: column;

  p {
    text-align: center;
  }
}
