/* ================ */
/* = The 1Kb Grid = */     /* 10 columns, 80 pixels each, with 10 pixel gutter */
/* ================ */

.grid_1 { width: 5.7em; }
.grid_2 { width: 12.1em; }
.grid_3 { width: 18.5em; }
.grid_4 { width: 25.0em; }
.grid_5 { width: 31.4em; }
.grid_6 { width: 37.8em; }
.grid_7 { width: 44.2em; }
.grid_8 { width: 50.7em; }
.grid_9 { width: 57.1em; }
.grid_10 { width: 63.5em; }

.column {
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 64.2em;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	width: auto;
	display: inline-block;
}
@media screen and (max-width: 65em) {
	.center-column {
		box-sizing: border-box;
		padding: 1em;
	}
	.row {
		max-width: 100%;
	}
	.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10 {
		width: 100%;
		clear: both;
	}
	h1 {
		line-height: 1em;
	}
	ul.sessionsList li {
		padding-left: 0;
    padding-right: 1em;
    width: 100%;
	}
	.more_sessions {
		padding-left: 0;
	}
	h2 {
		margin-top: 1.5em;
	}
	.add-session-now:nth-of-type(1) { /* Hides the second "Add Session" button, because otherwise they're stacked. */
		display: none;
	}
	div.sidebar-box {
		background: none;
	    	padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
}
