<% title("Sessions categorized as #{@category.name}") %>
<h1>Sessions for <%= @category.name %> </h1>


<% if @sessions.empty? %> 
  <div>
    <h2>There are no <%=  @category.name.downcase %> sessions yet.</h2>
    <p>You can be the first!</p>
    <p><%= link_to image_tag('button-add-session.png', :size => "215x43", :border=>"0"), new_session_path %></p>
<% else %>
<ul class="sessionsList">
  <%= render @sessions %>
</ul>
<% end%>
