
<% title("#{@category.name} Sessions") %>
<p><%= add_sessions_button %></p>
<% if @sessions.empty? %> 
  <div>
    <h2>There are no <%=  @category.name.downcase %> sessions yet.</h2>
    <p>You can be the first!</p>
  </div>
<% else %>
<ul class="sessionsList">
  <%= render @sessions %>
</ul>
<% end%>
<p><%= add_sessions_button %></p>
